* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.4;
    background-color: #efefef;
}

.titulo {
    color: #800040;
    font-size: 1.5rem;
    margin: 2rem;
}


.card{
 
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1rem;
    border: solid 2px;
    border-color: rgb(205, 216, 226);
    width: fit-content;
    height:fit-content;
    padding: 10 px;
    list-style: none;
    overflow: auto;
    text-align: center;
    background-color: aliceblue; 
    box-shadow: 10px 10px 8px #888888;
    p{
        size: 2rem;
        margin: 15px;
    }

}


.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
    a{
        text-decoration: none !important;
        color: white;
        }

     &:hover{
        background-color: #9c1458;
        border-color: #9c1458;
        
      }
  }
